<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <!--<add name="DbEntities" connectionString="metadata=res://*/Data.Modelo.csdl|res://*/Data.Modelo.ssdl|res://*/Data.Modelo.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Data\db.sdf&quot;"
      providerName="System.Data.EntityClient" />-->
    <add name="DbEntities" connectionString="metadata=res://*/Data.Modelo.csdl|res://*/Data.Modelo.ssdl|res://*/Data.Modelo.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Data\db.sdf&quot;"
      providerName="System.Data.EntityClient" />

    <add name="Falcone.Locadora.Sistema.Properties.Settings.dbConnectionString"
      connectionString="Data Source=|DataDirectory|\Data\db.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
</configuration>